$inpColor : #D9D9D9;
$fntSize : 17.32px;
.input {
    padding: 40px 49px 40px 49px;
    max-width: 551px;
    height: 90px;
    background-color: $inpColor;
    font-size: $fntSize;
    font-weight: 700;
    line-height: 20.79px;
    border-radius: 14px;
    border: none;
}