.content{
    min-width: 200px;
    margin-bottom: 40px;
    margin-right: 20px;
    
    h3 { 
        margin-bottom: 30px;
    }
}
.ul {
    li {
        color: aliceblue;
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
    }
}