$padding : 50px 75px 0 75px;

.container {
    padding: $padding ;
    width: 100%;
    margin-bottom: 32px;
}

.sectionTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}