$cardHeight : 482px;
@import '../../index.scss';
.card {
    min-width: 340px;
    width: 31.9%; 
    margin-bottom: 71px;

    .card_name {
        margin-bottom: 30px;
    }

    .card_img {
        min-width: 200px;
        width: 360px;
        max-height: 139px;
    }

    .characteristic {
        display: flex;
        margin-bottom: 18px;
        justify-content: space-between;
        width: 100%;

        .sizes {
            display: flex;

            .height {
                display: flex;
                align-items: center;
            }

            .width {
                display: flex;
                align-items: center;
            }
        }

        .layer {
            display: flex;
            align-items: center;
        }

        .pcs {
            display: flex;
            align-items: center;
        }
    }
}