$weight : 400;
$fontSize : 16px;
$defColor : #1E1E1E;
$lineHeight : 19.2px;
$boldWeight : 700;
$cardColor : #12724F;   
.default { 
    font-weight: $weight;
    font-size: $fontSize;
    color : $defColor;
    line-height: $lineHeight;
}

.bold {
    font-size: $fontSize;
    color : $defColor;
    line-height: $lineHeight;
    font-weight: $boldWeight;
}

.card { 
    font-weight: $weight;
    font-size: $fontSize;
    color : $cardColor;
    line-height: $lineHeight;
}