.content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 115px;
    justify-content: space-between;
    padding-bottom: 180px;

    .left_part {
        display: flex;
        flex-direction: column;
        padding-top: 93px;
        min-width: 360px;
        width: 40%;
        margin-right: 50px;

        .section_text {
            margin-bottom: 130px;
        }
    }

    .right_part {
        max-width: 40%;
        min-width: 360px;
    }

    .map {
        position: relative;
        margin-bottom: 160px;

        img {
            position: absolute;
            bottom: -136px;
            left: -60px;
            z-index: -1;
        }
    }
}

@media (max-width: 920px) {
        .content {
            justify-content: center;
        }

}