$fz : '14px';
$active : #12724F;
$pending : #000000;

.default {
    color: $pending;
}

.active {
    color: $active;
}

nav {
    display: flex;
    align-items: center;
    height: inherit;
    flex-wrap: wrap;

    a {
        font-size: $fz;
        font-weight: 700;
        line-height: 16.8px;

        & {
            margin-right: 30px;
            margin-bottom: 10px;
        }
        &:hover {
            opacity: 0.5;
        }
    }

}

.flags {
    & img {
        width: 35.82px;
        height: 16.4px;
    }
}

.menu {
    position: relative;

    .dropDown {
        position: absolute;
        width: 30px;
        height: 50px;

        img:hover {
            cursor: pointer;
        }
    }
}

@media  (max-width : 1440px) {
   nav {
    
    a {
        font-weight: 700;
        line-height: 16.8px;

        & {
            margin-right: 20px;
            margin-bottom: 10px;
        }
       
    }
   }
}